@keyframes leftIn1 {
  0% {
    transform: translateX(-450px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes leftIn2 {
  0% {
    transform: translateX(-2000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes leftIn3 {
  0% {
    transform: translateX(-450px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rightIn1 {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rightIn2 {
  0% {
    transform: translateX(2000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rightIn3 {
  0% {
    transform: translateX(2000px);
  }

  100% {
    transform: translateX(0);
  }
}

/* .leftIn1 {
  animation: leftIn1 1.5s;
}
.leftIn2 {
  animation: leftIn2 2s;
}
.leftIn3 {
  animation: leftIn2 2s;
}
.rightIn1 {
  animation: rightIn1 2s;
}
.rightIn2 {
  animation: rightIn2 2.5s;
}
.rightIn3 {
  animation: rightIn2 2.5s;
} */
.leftIn1 {
  animation: leftIn1 2s;
}
.leftIn2 {
  animation: leftIn2 2.5s;
}
.leftIn3 {
  animation: leftIn2 2.5s;
}
.rightIn1 {
  animation: rightIn1 2.5s;
}
.rightIn2 {
  animation: rightIn2 3s;
}
.rightIn3 {
  animation: rightIn2 3s;
}

#cv-relative {
  position: relative;
  background-color: #f5f5fa;
  padding: 5% 18%;
  min-height: 100vh;
  overflow: hidden;
}

#cv-container {
  width: 100%;
  padding: 0;
  color: #333333;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 30px 1px #00000030;
}

#row-100 {
  width: 100%;
  margin: 0;
  padding: 0;
}

#left-side {
  position: relative;
  color: #cacaca;
  background-color: #434244;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
}

#right-side {
  position: relative;
  overflow: hidden;
}

.link {
  cursor: pointer;
  color: #4e75dd;
  transition: color 0.2s;
  word-wrap: break-word;
}

.link:hover {
  color: #829ff0;
}

.name {
  font-family: 'kanit-bold';
  font-size: calc(30% + 2.5vw);
}

.icon {
  width: 30px;
  height: 30px;
  align-items: center;
  background-color: #333333;
  border-radius: 50%;
  color: #cacaca;
}

.subject {
  font-family: 'kanit-bold';
}

.space-line {
  position: relative;
  height: 200px;
}

.vertical-line {
  position: absolute;
  left: 25px;
  height: 200px;
  border-left: 1px #333333 solid;
}

.vertical-line-ball {
  position: absolute;
  left: 16px;
  width: 20px;
  height: 20px;
  background-color: #333333;
  border-radius: 50%;
}

.border-bottom-black {
  border-bottom: 1px #333333 solid;
}

.border-end-black {
  border-right: 1px #333333 solid;
}

@media (max-width: 1199px) {
  .space-line {
    display: none;
  }
}

@media (max-width: 991px) {
  .name {
    font-size: calc(40% + 4.5vmin);
  }
}

@media (max-width: 510px) {
  #email {
    word-wrap: break-word;
  }
}