@font-face {
  font-family: "kanit";
  src: local("kanit"), url('./assets/fonts/kanit/KANIT-REGULAR.TTF') format("truetype");
}

@font-face {
  font-family: "kanit-light";
  src: local("kanit-light"), url('./assets/fonts/kanit/KANIT-LIGHT.TTF') format("truetype");
}

@font-face {
  font-family: "kanit-extra-light";
  src: local("kanit-extra-light"), url('./assets/fonts/kanit/KANIT-EXTRALIGHT.TTF') format("truetype");
}

@font-face {
  font-family: "kanit-bold";
  src: local("kanit-bold"), url('./assets/fonts/kanit/KANIT-BOLD.TTF') format("truetype");
}

.App {
  font-family: 'kanit';
}

body::-webkit-scrollbar {
  display: none;
}

.height-100 {
  height: 100%;
}